{% load comments i18n %}
<style>
        
label {	
    {% if LANGUAGE_BIDI %}
        float: right;
        text-align: left;
        margin-left: 15px;
    {% else %}
        float: left;
        text-align: right;
        margin-right: 15px;
    {% endif %}
	width: 100px;
	padding-top: 5px;
}


#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;

}

#contact-area textarea:focus, #contact-area input:focus {
	border: 1px solid #900;

}

#contact-area input.submit-post,  #contact-area input.submit-preview {
	{% if LANGUAGE_BIDI %}
        float: left;
    {% else %}
        float: right;
    {% endif %}
    
    width: 100px;
    font-size: 1.3em;
    margin-left: 15px;
	margin-bottom: 15px;
}

</style>
<div id="page-wrap">
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  <div id="contact-area">
  <input type="hidden" name="next" value="{{ object.get_absolute_url }}" />
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      
        <div
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
       
        {{ field.label_tag }}{{ field }} 
        </div>

    {% endif %}
  {% endfor %}
  
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
    <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
  </p>
  </div>
</form>
</div>
