{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Add/Edit Movie Details" %}{% endblock %}
{% block extracss %}
    <style>
        
        label
        {
            width: 10em;
            margin-right: 0.em;
            position: relative;
            background:#F4F4F8;
            {% if LANGUAGE_BIDI %}
            text-align: right;
            float: right;
            {% else %}
            float: left;
            text-align: left;
            {% endif %}
        }

        .submit input
        {
                        
            margin-left: 4.5em;
        }
    </style>
{% endblock %}
{% block extrajs %}
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
<script type="text/javascript">

$(document).ready(function() { 
    $("span#loading").toggle();
    
    $("#accordion").accordion();
    $('button#imdb').click(function () { 
        var value = $('input#id_title_en').val();
        if (value != '') {
            clearErrorsAndMovieList()
            findByTitle(value);
        } else {
            $("div#error").text("English title is empty");
        }
    });
    
    
    function get_task_status(task_id, callback)
    {
        $.get("/utils/task-stat/"+task_id+"/", {}  ,
            function(data){
                if (data.task.status == 'SUCCESS') {
                    callback( data.task.result);
                } else{
                    setTimeout(get_task_status,  500, task_id, callback);
                }
            },  'json' );
    }
    
    function findByID(value) {
        
        $.ajax({
            type: "GET",
            url: "/movies/imdb_get_info/json/"+value+"/",
            dataType:  'json',
            success:   wait_for_moviedata,
            beforeSend:  setLoading, 
            error: processErrors,
        });
    }
    
    function  wait_for_moviedata(data)
    {
        get_task_status(data.task_id, processMovieData)
    }
    
    function processMovieData(data) {
        if (data.error) {
            $("div#error").text("Error in getting info, try again later...");
        } else {
        
            $("input#id_title_en").val(data.title);
            $("textarea#id_summary_en").val(data.plot);
            $("input#id_imdb_url").val(data.imdb_url);
            $("input#id_imdb_rating").val(data.rating);
            $("input#id_imdb_poster").val(data.cover_url);
            $("input#id_publish_year").val(data.year);
            $("input#id_cast").val(data.cast);
            $("input#id_genre").val(data.genre);
        }
        clearLoading();
    }
    
    
    function findByTitle(title) {
        
        $.ajax({
            type: "GET",
            url: "/movies/imdb_search_by_title/json/"+title+"/",
            dataType:  'json',
            success:   wait_for_movielist,
            beforeSend:  setLoading, 
            error: processErrors,
        });
    }
    
    function  wait_for_movielist(data)
    {
        get_task_status(data.task_id, processMovieList)
    }
    
    function processMovieList(data) {
        if (data.error) {
            $("div#error").text("Error in getting info, try again later...");
        } else {
            $.each(data.list, function(i,item){
                    $("<a/>").text(item.title).appendTo("#movielist").bind("click", {id:item.id},function(e){
                            clearErrors()
                            $("input#id_imdb_id").val(e.data.id);
                            findByID(e.data.id);
                            }).wrap("<li/>");
                    if ( i == 9 ) return false; });
            
            
        }
        clearLoading();
    }
    
    
    function setLoading(data) {
        $("span#loading").toggle();
    }
    function clearLoading() {
        $("span#loading").toggle();
    }
    function clearErrorsAndMovieList() {
        $("div#error").text("");
        $("ol#movielist").text("");
    }
    function clearErrors() {
        $("div#error").text("");
    }
    
    function processErrors(errors) {
        alert(errors.status )
        alert(errors.responseText )
        $("div#error").text("Error");
        $("div#error").append(errors.responseText);
    }
    


});

</script>
{% endblock %}

{% block content %}
    
    <button type="" id="imdb">{% trans 'Get IMDB Data' %}</button>
    <span id="loading">
       <img src="{{ MEDIA_URL }}images/loading3.gif" alt="loading..."/> {% trans 'Loading data from IMDB' %} 
    </span>

    <div id="error"></div>  
    <ol id="movielist"></ol>  
    
    <form enctype="multipart/form-data" action="{{ request.path_info }}" method="post">{% csrf_token %}
        {{ form.errors }}
        <div id="accordion"> {{ form.as_fieldset_p }} </div>
        <input type="submit" value="{% trans 'Save' %}" />
	</form>
    
{% endblock %}